body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 2rem 0;
}

.carousel-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    aspect-ratio: 16 / 9;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    position: relative;
}

.project {
    position: absolute;
    height: 100%;
    top: 0;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    pointer-events: none; /* Disable interactions by default */
}

.project.active {
    pointer-events: auto; /* Enable interactions for active project */
    cursor: pointer; /* Add pointer cursor for active project */
}

.project-image-container {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.project img {
    height: 100%;
    width: auto;
    object-fit: cover;
    transition: all 0.3s ease;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(128, 128, 128, 0.3);
    transition: opacity 0.3s ease;
}

.project.active:hover .project-image-container {
    height: 102%; /* Slightly increase the size */
    width: 102%; /* Slightly increase the size */
}

.project.active:hover .overlay {
    opacity: 0;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    z-index: 10;
}

.carousel-button.prev {
    left: 10px;
}

.carousel-button.next {
    right: 10px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: #f8f8f8;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.social-icons a {
    color: #a0a0a0;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #4a4a4a;
}

@media (max-width: 767px) {
    .carousel-container {
        width: 90%;
    }

    .project {
        width: 100%;
    }

    .project img {
        width: 100%;
        height: auto;
    }

    .overlay {
        display: none;
    }

    .project.active:hover .project-image-container {
        height: 100%; /* Disable size increase on mobile */
        width: 100%; /* Disable size increase on mobile */
    }

    .social-icons a {
        color: #4a4a4a;
    }
}